<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="stylesheet" href="/stylesheet/stylesheet1.css">
    <link rel="icon" href="/img/weather.png">

</head>

<body>
<div class="main-content">
    {{>header}}
    <h1>{{errorText}}</h1>
    <h4>You may want ot find pages from the below:</h4>
    <div>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</div>
{{>footer}}
</body>
</html>
